#container {
    max-width: 100%;
}

.col {
    opacity: 0.2;
    text-align: center;
}

.p {
    color: black;
    font-size: larger;
    text-align: justify;
}

.p1 {
    color: white;
    font-size: larger;
    text-align: justify;
}

/*
 * Extra utilities
 */

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.footer {
    text-align: center;
}

.formation {
    color: black;
}

#div_tag {
    float: right;
    width: 20%;
}

#itachi {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.42);
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 999;
    display: none;
}


#sharigan {
    font-size: xx-large;
    text-align: center;
    font-family: fantasy;
    color: #530303;
    border-color: aliceblue;
    border: 2px;
}

.pa {
    padding-bottom: 10px;
    text-align: center;
}
